.közepsöcuc{
max-width: 50%;
margin: auto;
text-align: center;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   border-collapse: collapse;
   padding: 5px;
   margin: 0 auto;
   }

 th {
    background-color: yellow;
    font-weight: bold;
    }

 tr:nth-child(even) {
background-color: #e6e6e6;;
    }

.container{
    padding-bottom: 25px;
}