body {
    background-color: #111;
    color: #fffefe;
    font-family: Arial, sans-serif;
}
.header {
    background-image: url(argo.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}
.header .overlay {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header h1 {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.rating {
    font-size: 2rem;
    margin-bottom: 30px;
}